<p id="notice"><%= notice %></p>

<h1>Scores</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ranking.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.points %></td
      </tr>
    <% end %>
  </tbody>
</table>
